<header class="header-container">
    <div class="navigator">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>
        <ul class="links-access">
            <li><a href="/">Quem Somos</a></li>
            <li><a href="#whatdo">O que fazemos <i class="ri-arrow-drop-right-line"></i></a></li>
            <li><a href="https://sosamazonia.org.br/transparencia" target="_blank">Transparência</a></li>
            <li><a href="#partic">Como ajudar <i class="ri-arrow-drop-right-line"></i></a></li>
            <li><a href="#">Informe-se <i class="ri-arrow-drop-right-line"></i></a></li>
        </ul>
    </div>
    <div class="mobile-menu">
        <i class="ri-menu-3-line"></i>
    </div>
    <div class="donate-btn">
        <a href="https://sosamazonia.org.br/doe" target="_blank">Doar</a>
    </div>
</header>