<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="sos, amazonia, natureza, vida selvagem, vida, selvagem, doar, ação, humanidade"/>
    <%- include('partials/linksHead') %>
    <title>SOS Amazônia</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <main>
        <!-- REVER DESIGN DO HERO -->
      <section class="hero">
        <div class="hero-text">
          <h1>SOS amazônia</h1>
          <p>A sua ajuda tem o poder de fazer a diferença!</p>
          <div class="btn-case">
            <a href="#" class="btn">Junte-se a causa</a>
          </div>
        </div>
        <div class="hero-bg">
          <img src="/images/hero2.jpg" alt="" />
        </div>
      </section>
      <!-- REFATORAR -->
      <section id="whatdo" class="born section-config">
        <div class="born-content">
          <h3 class="title-config txt-title">Nascemos para amar e proteger a floresta Amazônica</h3>
          <p class="text-config txt-mb">
            Promovemos a conservação da Biodiversidade e o Crescimento da <br>
            Consciência Ambiental na Amazônia.
            <br><br>
            Este site é um site é um modelo baseado no real site do SOS Amazônia, foi utilizado como modelo para a pratica de habilidades por parte do desenvolvedor. Para acessar o real site do SOS Amazônia clique nos botões de doação e vá diretamente para a etapa de doação do site. mas caso queira ir para o inicio do site oficial <a href="https://sosamazonia.org.br/">clique aqui</a>
          </p>
          <h3 class="subtitle-config txt-destaque">Faça já uma doação!</h3>
          <div class="local-numbers-born">
            <div class="local-born">
              <h4 class="text-born txt-destaque">100 mil</h4>
              <p class="text-legend txt-legend">
                Hectares de floresta manejada e conservadas (extrativismo, SAFs
                e restauração).
              </p>
            </div>

            <div class="local-born">
              <h4 class="text-born txt-destaque">110 mil</h4>
              <p class="text-legend txt-legend">Árvores plantadas.</p>
            </div>

            <div class="local-born">
              <h4 class="text-born txt-destaque">5.5 mil</h4>
              <p class="text-legend txt-legend">
                Famílias beneficiadas com as nossas iniciativas.
              </p>
            </div>

            <div class="local-born">
              <h4 class="text-born txt-destaque">40 mil</h4>
              <p class="text-legend txt-legend">Filhotes de quelôneos entregues à natureza.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- REFATORADO -->
      <section class="about section-config">
        <div class="about-content">
            <div class="about-image image-config">
                <img src="/images/about.jpg" alt="about-image">
            </div>
            <div class="about-text">
                <div class="text-content">
                    <p class="subtitle-config txt-subtitle">Sobre a floresta amazônica</p>
                    <h3 class="title-config txt-title">Atuamos para gerar transformações socias e manter a floresta conservada.</h3>
                    <p class="text-config">Somos Floresta. Somos Diversidade Biológica. Somos os
                        Valores da Amazonia</p>
                    <div class="case-btn">
                        <a href="#" class="btn-config btn-default">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <section class="programs section-config">
        <div class="programs-content">
            <div class="programs-text">
                <h2 class="subtitle-config txt-destaque" id="prog">Conheça nossos programas</h2>
                <div class="program">
                    <h3 class="title-config txt-title">Negócios Florestais Sustentáveis</h3>
                    <p class="text-legend txt-legend">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque excepturi eum repellat! Sed, accusantium dolores.</p>

                    <a href="#" class="txt-destaque">Saiba mais</a>
                </div>
                <div class="program">
                    <h3 class="title-config txt-title">Mudanças Climáticas e Restauração da Paisagem Florestal</h3>
                    <p class="text-legend txt-legend">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque excepturi eum repellat! Sed, accusantium dolores.</p>

                    <a href="#" class="txt-destaque">Saiba mais</a>
                </div>
                <div class="program">
                    <h3 class="title-config txt-title">Politica, Governança e Proteção da Paisagem Verde</h3>
                    <p class="text-legend txt-legend">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque excepturi eum repellat! Sed, accusantium dolores.</p>

                    <a href="#" class="txt-destaque">Saiba mais</a>
                </div>
            </div>
            <div class="programs-image">
                <img src="/images/program.jpg" alt="image-program">
            </div>
        </div>
      </section>

      <section id="partic" class="participation section-config">
        <div class="participation-content">
            <h4 class="subtitle-config txt-white">Como ajudar</h4>
            <h2 class="title-config txt-white">A sua contribuição pode fazer a diferença</h2>
            <p class="text-config txt-white">Fortalece nosso trabalho, valoriza a floresta em pé</p>
            <div class="case-btn">
                <a href="https://sosamazonia.org.br/doe" target="_blank" class="btn-config btn-alert">quero contribuir</a>
            </div>
        </div>
        <div class="participation-bg">
            <img src="/images/particip.png" alt="">
        </div>
      </section>

      <section class="about section-config">
        <div class="about-content">
            <div class="about-image image-config">
                <img src="/images/hero.jpg" alt="about-image">
            </div>
            <div class="about-text">
                <div class="text-content">
                    <p class="subtitle-config txt-subtitle">COMPLIANCE</p>
                    <h3 class="title-config txt-title">Transparência | Ética | Valores | Governança</h3>
                    <p class="text-config">Prestações de contas à sociedade de todo nosso trabalho de conservação da natureza. Acesse relatórios anuais de atividades, gestão financeira, as políticas e códigos de conduta que regem nossa instituição.</p>
                    <div class="case-btn">
                        <a href="#" class="btn-config btn-default">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </main>

    <footer class="end-page">
        <div class="developer">
          desenvolvido por <a href="https://github.com/RafaGui" target="_blank" class="txt-subtitle">Rafael William</a>
        </div>
        <div class="final-page">
          <div class="frm-local">
            <h3 class="subtitle-config txt-subtitle">Fique por dentro do que acontece na SOS Amazônia</h3>
            <form class="frm-inputs">
              <input type="text" name="" id="" placeholder="Nome">
              <input type="text" name="" id="" placeholder="E-mail">
              <input type="submit" value="Enviar">
            </form>
            <div class="networks">
              <ul>
                <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
                <li><a href="#"><i class="ri-github-fill"></i></a></li>
                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                <li><a href="#"><i class="ri-twitter-x-line"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
  </body>
</html>
